{% extends 'layout.html' %}

{% block title %}Home - Dailymotion API demo{% endblock %}

{% block content %}
    <h2>Testing <span class="label">Local app test</span> from user <a href="http://www.dailymotion.com/bonnefon">bonnefon</a></h2>
    <ol>
        {% if not access_token %}
            <li>
                Get code for access token :
                <a href="{{ api_protocol }}://{{ api_domain }}/oauth/authorize?response_type=code&client_id={{ api_key }}&redirect_uri=http%3A%2F%2F{{ serverURL }}%2Foauth_success&scope=read+write">
                    start
                </a>.
                <br />
                <small>
                    ({{ api_protocol }}://{{ api_domain }}/oauth/authorize?response_type=code&client_id={{ api_key }}&redirect_uri=http%3A%2F%2F{{ serverURL }}%2Foauth_success&scope=read+write)
                </small>
            </li>
        {% endif %}
        {% if code_access_token %}
            <li>
                Code for Access Token : <small>{{ code_access_token }}</small>. <a href="/get_access_token?{{ access_token_query_params }}">Get access token.</a>
            </li>
        {% else if access_token %}
            <li>
                Access Token : <small>{{ access_token }}</small>.
            </li>
            {% if refresh_token %}
                <li>
                    Refresh Token : <small>{{ refresh_token }}</small>.
                </li>
            {% endif %}
            <li>
                Reset : <a href="/reset">remove access token</a>.
            </li>
        {% else %}
            <li>
                ...
            </li>
        {% endif %}
    </ol>

    {% if access_token %}
        <div class="api_actions">
            <h3>Now let's play! We could...</h3>
            <span class="api_action">... echo "This is a useless message..." : </span>
            <a href="/api_action?call={{ actions.testecho.call|url_encode }}&args={{ actions.testecho.args|url_encode }}">Make my day!</a>
            {% if call == 'test.echo' %}
                <div class="api_call_return">
                    <div class="api_call_raw">
                        API call response : <small>{{ api_call_return_str }}</small>
                    </div>
                    <div class="api_call_result">
                        API call result : <small>{{ api_call_return.result.message }}</small>
                    </div>
                </div>
            {% else %}
                <div></div>
            {% endif %}

            <span class="api_action">... get the list of bonnefon's videos?</span>
            <a href="/api_action?call={{ actions.videolist.call|url_encode }}&args={{ actions.videolist.args|url_encode }}">Let's do that!</a>
            {% if call == 'video.list' %}
                <div class="api_call_return">
                    <div class="api_call_raw">
                        API call response : <small>{{ api_call_return_str }}</small>
                    </div>
                    <div class="api_call_result">
                        API call result : <small>{{ api_call_return.result.list }}</small>
                    </div>
                </div>
            {% else %}
                <div></div>
            {% endif %}

            <span class="api_action">... get infos for video "xf3tgr"?</span>
            <a href="/api_action?call={{ actions.videoinfo.call|url_encode }}&args={{ actions.videoinfo.args|url_encode }}">It looks fun!</a>
                {% if call == 'video.info' %}
                    <div class="api_call_return">
                        <div class="api_call_raw">
                            API call response : <small>{{ api_call_return_str }}</small>
                        </div>
                        <div class="api_call_result">
                            API call result : <small>{{ api_call_return.result }}</small>
                            <div>
                                <div>A way to use these datas : </div>
                                <a href="{{ api_call_return.result.url }}" target="_blank" class="video_item" title="{{ api_call_return.result.description }}">
                                    <img src="{{ api_call_return.result.thumbnail_large_url }}" width="160"/><br />
                                    <span>{{ api_call_return.result.title }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div></div>
                {% endif %}

            <span class="api_action">... edit title of video "xf3tgr?</span>
            <a href="/api_action?call={{ actions.videoedit.call|url_encode }}&args={{ actions.videoedit.args|url_encode }}">What a good idea!</a>
            {% if call == 'video.edit' %}
                <div class="api_call_return">
                    <div class="api_call_raw">
                        API call response : <small>{{ api_call_return_str }}</small>
                    </div>
                    <div class="api_call_result">
                        API call result : <small>{{ api_call_return.result }}</small>
                    </div>
                </div>
            {% else %}
                <div></div>
            {% endif %}

        </div>
    {% endif %}

{% endblock %}
